on: 
  workflow_dispatch:
  pull_request:
    branches:
    - main 
  push:
    branches:
    - main
  workflow_run:
    workflows: ["Populate Feed",'automerge']
    types:
      - completed

name: Source Code Health

permissions:
  contents: read

jobs:
  build:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
      with:
        egress-policy: audit

    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
    - uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3.9.1
      with:
        node-version-file: '.nvmrc'
        cache: 'npm'

    - name: Install dependencies
      run: npm i

    
    - name: RSS Build
      run: npm run rss:build

    - name: RSS Check Format
      run: npm run rss:format-check

    - name: RSS Validate
      run: npm run rss:validate

    - name: Build website
      run: npm run website:build
