on: 
    workflow_dispatch:
    
    schedule:
        - cron: '0/15 * * * *'

name: Populate Feed

permissions:
  contents: write
  pull-requests: write
  issues: read
  packages: none

jobs:
  build:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
    - uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.3
      with:
         egress-policy: audit
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
    - uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3.9.1
      with:
        node-version-file: '.nvmrc'
        cache: 'npm'

    - name: Install dependencies
      run: npm i

    # - name: Collect Issues (Comments)
    #   run: npm run collect:issues
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Collect Discussions (Comments)
      run: npm run collect:discussions
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}        

    - name: Collect Retrospective
      run: npm run collect:retrospective

    - name: RSS Build
      run: npm run rss:build

    - name: RSS Format
      run: npm run rss:format

    - name: RSS Validate
      run: npm run rss:validate

    - name: Build website
      run: npm run website:build

    - name: Commit & Push changes if any
      uses: actions4git/add-commit-push@v1
      continue-on-error: true
